.newBulkOrder {
    margin-top: 4px;
    float: right;
}

.bulkOrder {
    max-width: 960px;
}

.contractField {
    display: inline-block;
}

.contractItem {
    margin: 0;
}

.contractUnit {
    display: inline-block;
    margin: 0 10px;
}
